<!DOCTYPE html>
html
	head
		link(rel="stylesheet" href="inicio.css")
	body
		header
			img.logo(src="logo.png")
			h1 Curso de Programacion
			figure
				img.avatar(src="user.png")
				figcaption +
			nav
				ul
					li Programacion web
					li Aplicaciones Con Django
					li Javascript App
					li Lenguajes del lado del server
					li Bases de datos NoSql
		main
			section.post
				article
					img(src="imagen.jpg")
					div.textoPost
						h2 Cursos de bases de datos NoSql
						p por 
							strong Usuario
						p.categoria categoria
						p hace:
							strong 5 min
						p.coment 455
						p.estrella *
					div.votacion
						p.arriba U
						p 999
						p.abajo D
			section.login
				h2 Rgistrate
				div
					input(type="text" placeholder="Usuario")
					input(type="password" placeholder="contraseña")
					button Logearse
		footer
			h2 copyright &copy dreechos reservado
						




	