grisOscuro=#afafaf
azul=#26bce0
blanco=#fff
azulOscuro=#2c3e50
naranja=#d35400
letra=16px

body
	background grisOscuro
	font-size letra
	font-family arial
header
	background azulOscuro
	color blanco
	img.logo
		width 8% 
		display inline-block
	h1
		display inline-block
		margin 0
		text-align center
		vertical-align top
		width 80%
	figure
		display inline-block
		margin 0
		width 10%
		img
			width 88%
		figcaption
			width 8%
	nav
		background azul
		border-bottom 3px solid naranja
		ul
			margin 0
			li
				display inline-block
				color blanco
				padding 1%
				&:hover
					color naranja
					text-shadow 2px 2px 0px #000
section.post
	width 90%
	display inline-block
	article
		background  blanco
		img
			width 10%
			display inline-block
		div.textoPost
			width 85%
			display inline-block
			p.categoria
				background azulOscuro
				color blanco
				width 10%
				padding 1%
				border-radius 10px
				text-align center
		
	